<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="CitySquaresModelContainer" connectionString="metadata=res://*/CitySquaresModel.csdl|res://*/CitySquaresModel.ssdl|res://*/CitySquaresModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=173.1.144.146;initial catalog=CSInsider;user id=facebook;password=facebook88;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>